html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* RESETTING ALL DEFAULT CSS ABOVE ^ */
body {
    background-color: #fceaa1;
}

ul {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(24, 24, 24);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(3, 3, 3);
}

h2.Overskrift {
    margin-top: 16px;
    margin-left: 19px;
    color: black;
    text-shadow: 3px 2px 3px white;
    text-align: left;
}

table {
    border-collapse: separate;
    border: 8px dashed #ffe478;
    background-color: #fff0b3;

    margin-left: 20px;
    margin-top: 20px;

    width: 30%;
    height: 500px;
  }

